<h2> Tiers available as a NOM Railways passenger: </h2>
  <table class="ui celled table" >
  <thead>
    <tr><th>Name</th>
    <th>Amenties</th>
    <th>Price</th>
    
  </tr></thead>
  <tbody>
   <% @tiers.each do |tier| %>
    <tr>
      <td data-label="Name"><h2><%= tier.name %></h2></td>
      <td data-label="Amenities">
      <%tier.amenities.split(",").each do |amenity| %>
         <li><%= amenity %></li><br>
      <% end %>
      <td data-label="Price">$<%= tier.price %></td><br>
      <% end %>
   
    </tr>
    
  </tbody>
</table>