<h1> Tiers available as a NOM Railways passenger. </h1>


<% @tiers.each do |tier| %>
  <h2>Our <%= tier.name %> package includes:</h3>
   <% tier.amenities.split(",").each do |amenity| %>
   <li><%= amenity %></li><br>
   <% end %>
   The cost of this tier is $<%= tier.price %> in addition to base cost of travel.<br><br><br>
   <% end %>