
<h1><%= @route.name %> stops in each of the listed cities below: </h1>
<ul>
<%@route.stops.each do |stop|  %>
<li><%= stop.city_name %></li>
<% end %>
</ul>


<h3><%= link_to "Homepage", root_path %> or <%= link_to "View your Account", login_path %></h3>





