// Place all the styles related to the Passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "semantic-ui";

#passenger {
    font: 100% Helvetica, sans-serif;
    color: #333;
    text-align: center;
    font-variant: small-caps;
    font-size: 100%;
    
  }

#your-trip {
    font: 100% Helvetica, sans-serif;
    color: #333;
    text-align: center;
    font-variant: small-caps;
    font-size: 100%;
}

#links {  
    color: purple;
    font: 100% Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-variant: small-caps;
}

#welcome { font: 100% Helvetica, sans-serif;
    color: #333;
    text-align: center;
    font-variant: small-caps;
    font-size: 150%;


}

#here { font: 100% Helvetica, sans-serif;
    color: #333;
    text-align: center;
    font-variant: small-caps;
    font-size: 140%;

}


#forms {
    font-size: 140%;

}